{box-sizing: border-box;
text-align: center;}


 	body{
 	font-family: 'Georgia', Times, 
 	Times New Roman, serif, sans-serif, helvetica;  
 	}

 	#header{ overflow: auto;
 		clear:both;
 
 	background: #ffffff;
 	border-bottom-style: solid;
 	border-color: #cccccc;
 	border-size: 3px;
 }

h1{

	background:#4aaaa5;
	font-size: 40px;
	float:left;
	padding: 20px;
	color: #ffffff;
	margin-left: 100px;
	margin-top: 0px;
	margin-bottom: 0px;

}


#right {font-size: 20px;
	font-family: sans-serif;
color: #9e9c9c;
float:left;
margin-bottom: 10px;
margin-left: 600px;
margin-top: 30px;
}
	
	content{ width:650px;
padding-top: 30px;
overflow:auto;
background: #ffffff;
float:left;
margin-top: 30px;
margin-left: 100px;
min-height: 1000px;

 }

 #about{ font-size: 20px;
color: #9e9c9c;
text-align: left;
margin-right: 50px;
min-height: 500px;
  }

h2{text-align: left;
margin-left: 20px;
color: #4aaaa5;
font-size: 30px;
font-style: bold;}

hr{color:#ccc;
stroke: 5px;
width: 90%;
align-content: left;
margin-left: 20px;
margin-right: 10px;
}

img{ margin-left: 30px;
margin-top: 20px; }

p{ font-family:sans-serif;
color: #777777;
text-align: left;
margin-left: 20px;
margin-right: 30px;
font-size: 18px; 
font-kerning: 15px;
margin-top: 30px;


}
 #connect-media{width:260px;
 margin-top: 20px;	
overflow:auto;
background: #ffffff;
float: left;
margin-top: 30px;
padding-bottom: 20px;
margin-bottom: 50px;
margin-left: 20px;
padding-top: 30px;
}



h3{ font-size: 24px;
color: #4aaaa5;
text-align: left; 
margin-left: 20px; }


.image3 { float: left; }

 #contact{ width:650px;

overflow:auto;
background: #ffffff;
float:left;
margin-top: 30px;
margin-left: 20px;


 }

 input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: left;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container {
	float: left;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family:sans-serif;
color: #777777;
text-align: left;
margin-left: 20px;
margin-right: 30px;
font-size: 18px; 
font-kerning: 15px;
margin-top: 30px;
}

input:hover {
	background: grey;
}

 .container-portfolio {
    position: relative;
    font-family: sans-serif;
   
    box-sizing: border-box;
}

.column {
    float: left;
   
    margin-left: 0px;
  }

 .text-block{
    
    background-color: #4aaaa5;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 50px;
    margin-left: 30px;
    margin-right: 20px;
    box-sizing: border-box;
text-align: center;

position: absolute;
    
}



#footer{
	clear:both;
	padding: 20px;
	background: #666666;
	font:sans-serif;
	border-top: solid; 
	border-width: 5px;
	border-color: #4aaaa5;
	font-size: 12px;
	color: #ffffff;
position: sticky;
	text-align: center;
	
	margin-top: 100px;
	
}





